{% extends "base.html" %}

{% block title %}My Orders{% endblock title %}

{% block content %}
{% include "_cart_modal.html" %}

<div class="bg-gray-50 z-10 flex place-items-start place-content-center min-h-screen min-w-full mt-16 px-6">
    <div class="bg-white flex flex-col w-full rounded lg:max-w-[800px]">
        <h1 class="font-extrabold text-2xl px-4 py-2 min-w-full border-b">
            My Orders
        </h1>
        <div class="p-4 min-w-full relative rounded overflow-x-scroll overflow-hidden max-h-[80vh] overflow-y-scroll">
            <table class="table-fixed border min-w-full text-sm text-left text-gray-500 ">
                <thead class="text-sm text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">No.</th>
                        <th scope="col" class="px-6 py-3">Product</th>
                        <th scope="col" class="px-6 py-3 md:text-center">Price</th>
                        <th scope="col" class="px-6 py-3 md:text-center">Quantity</th>
                        <th scope="col" class="px-6 py-3 text-center whitespace-nowrap">Date Ordered</th>
                        <th scope="col" class="px-6 py-3 text-center">SubTotal</th>
                    </tr>
                </thead>
                <tbody id="my-order-table">
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>

</script>
{% endblock script %}